<div class="profile">
<h1> Charles Chiang</h1>
 <img src=1a.jpg />
 <h2> I am a student in IS 6850 Summer 2014 </h2>
 <p> Ruby is awesome! This is also the first assignment in IS 6850. </p>
 <a href="https://www.linkedin.com/in/charleschiang"> My LinkedIn </a>
<h1> Send me a text message...</h1>
<form action="/" method="post">
  <input type="submit" value="Enter your number and Click to Send SMS" />
  <input id="sms" name="sms" type="text" value="(without dashes)" />
  </div>
</form> 